.postEnter {
  transform: translateX(-350px);
}
.postEnterActive {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.postExit {
  opacity: 1;
}
.postExitActive {
  transform: translateX(-350px);
  transition: all 500ms ease-out;
}

.h1 {
  text-align: center;
}
